@keyframes loader {
    0%  {margin-left: -100px}
    100% {margin-left: 100px;}
}


.loader {
    display: block;
    width:100px;
    height: auto;
    margin: auto;
}

.loader > img {
    width:100px;
    height: auto;
    display: block;
    animation-name:  loader;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}